.About-all {
    background-color: white;
    color: black;
    text-align: center;
}

.txt-abt {
    padding-top: 7%;
}

.txt-h5-abt {
    letter-spacing: 0.9em;
}
.txt-h1-abt {
    padding-top: 0.1%;
    font-weight: 300;
    font-size: 36px;
    margin-left: 27%;
    margin-right: 27%;
}
.first-h3 {
    background-color: rgba(0,0,0,0.35);
    margin-right:0em;
    margin-right: 0em;
    padding-top: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 1.7em;
}
.second-h3 {
    background-color: rgba(0,0,0,0.35);
    margin-right:0em;
    margin-right: 0em;
    padding-top: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 2.1em;
}
.fon-black {
    background-color: black;
    padding-bottom: 12.15em;
    margin-top: 0em;
    margin-right: 0em;
    opacity: 0.35;
    transition: .4s ease-in-out;
}
.fon-black-2 {
    background-color: black;
    padding-bottom: 11.65em;
    margin-top: 0em;
    margin-right: 0em;
    opacity: 0.35;
    transition: .4s ease-in-out;
}
.img-div figure {
    /* margin:0; */
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.img-div .fig-1 {
    position: absolute;
    top:0;
    color: white;
    font-size: 24px;

}
.img-div .fig-2 {
    position: absolute;
    top:0;
    color: white;
    font-size: 24px;
}

.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption,
.cs-style-1 figure.cs-hover .fon-black {
    opacity: 1;
    transform: translate(0em, 0em); 
    transition: .4s ease-in-out;
}
.img-trans {
    overflow: hidden;
}
.cs-style-1 figure:hover .img-about{
    transform: scale(1.1);;
    transition: .4s ease-in-out;
    font-size: 0;
}
.cs-style-1 .fig-1 {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;

}
.cs-style-1 .fig-2 {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}
.img-div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-left: 150px;
    margin-right: 150px;;
}

.img-about {
    width: 550px;
    height: 400px;
    transition: .4s ease-in-out;
}

.sr {
    padding-top: 1.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.fr {
    padding-top:5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

