.About-all {
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 500px;
}

.txt-abt {
    padding-top: 7%;
}

.txt-h5-abt {
    letter-spacing: 0.9em;
}
.txt-h1-abt {
    padding-top: 0.1%;
    font-weight: 300;
    font-size: 36px;
    margin-left: 27%;
    margin-right: 27%;
}