.boa-all {
    background-color: white;
    padding-top: 5em;
    text-align: center;}

.h1-boa {
    font-weight: 300;
    background-color: white;
    font-size: 2.35em;
    padding-bottom: 1.5em;
}
.div-all-2 {
    padding-left: 150px;
    padding-right: 150px;
}
.img-authors-div {
    float: left;
    position: relative;
    
}
.img-auth {
    width: 232px;
    height: 232px;

 }
 .div-img {
    margin: 0em;

 }
