@import "~react-image-gallery/styles/css/image-gallery.css";

.boa-all {
    background-color: white;
    padding-top: 7.5em;
    text-align: center;
    padding-bottom: 7em;
    -webkit-box-shadow: inset 0px -43px 23px -58px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -43px 23px -58px rgba(0,0,0,0.5);
    box-shadow: inset 0px -43px 23px -58px rgba(0,0,0,0.5);
}

.h1-boa {
    font-weight: 300;
    background-color: white;
    font-size: 2.35em;
    padding-bottom: 2.2em;
}
.slider-div {
    padding-left: 190px;
    padding-right: 125px;
}
.img-and-abt{
    display: flex;
}
.about-auth-div{
    padding-right: 230px;
}
.marker-1 {
    transform: scale(-1,1);
    float: left;
}
.marker-2 {
    float: right;

}
.mark {
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: black;
    font-size: 6em;
    /* padding-bottom: 100%; */
    padding-top:24%;
    padding-bottom: 20.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    /* margin-top: 20%; */
    outline: none;
}

.fig-img {
    /* margin:0; */
    position: relative;
    margin-right: 100px;
    margin-left: 200px;
    margin-bottom: 0;
    margin-top: 0;
}
.img-div .fig-img-1 {
    position: absolute;
    top:0;
    color: white;
    font-size: 24px;

}
.img-trans-auth {
    overflow: hidden;
    /* margin-left: 100px; */
}
.cs-style-2 figure:hover figcaption,
.cs-style-2 figure.cs-hover figcaption{
    opacity: 1;
    transform: translate(0em, 0em); 
    transition: .5s ease-in-out;
}
.img-authors-div {
    width: 100%;
}
.cs-style-2 .fig-img-1 {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;

}
.cs-style-2 {
    padding-left: 40px;
}

.img-auth {
    width: 750px;
    height: 500px;
}

.abt-auth-h1 {
    font-size: 3em;
    font-weight: 500;
}
.abt-auth-p{
    font-weight: 400;
    font-size: 1.45em;
}