.all-cu {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* will-change: transform; */
}
.h1-cu-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
.txt-cu {
    color:white;
    font-weight: 400;
    font-size: 42px;
}

.form-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.n-e-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.i-txt-name {
    width: 30em;
    height: 2.5em;
    margin-right: 0.5em;
    text-align: left;
}
.i-txt-phone {
    width: 30em;
    height: 2.5em;
    margin-left: 0.5em;
}
.input-txt-email {
    width: 61.25em;
    height: 2.5em;
}
.input-txt-message {
    width: 61.25em;
    height: 2.5em;
}

.div-input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.25em;
}