.all-cu {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* will-change: transform; */
}
.h1-cu-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    text-shadow: 1px 1px 1px white;
}
.txt-cu {
    color:white;
    font-weight: 300;
    font-size: 42px;
}

.form-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.n-e-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.i-txt-name {
    margin-right: 0.4em;
    text-align: left;
    font-size: 22px;
    width: 18em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid white;
    border-radius: 0.5em;
    border-color: white;
    outline: none;
    padding-left: 0.4em;
    color: #312824;
    height: 2em;
}
.i-txt-phone {
    margin-left: 0.4em;
    color: #312824;
    font-size: 22px;
    width: 18em;
    height: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid white;
    border-radius: 0.5em;
    border-color: white;
    outline: none;
    padding-left: 0.4em;
}
.input-txt-email {
    font-size: 22px;
    width: 37.5em;
    color: #312824;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid white;
    border-radius: 0.5em;
    border-color: white;
    padding-left: 0.4em;
    outline: none;
    height: 2em;
}
.input-txt-message {
    font-size: 22px;
    width: 37.5em;
    border-radius: 0.5em;
    color: #312824;
    padding-left: 10px;
    outline: none;
    
}

.div-input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
}


.send-form-cu {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 32px;
    background-color: white;
    color: #312824;
    border-color: white;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.5em 4em;
    letter-spacing: 0.1em;
}