.all-oc {
    background-color: white;
}
.dop-div-oc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 190px;
    padding-right: 230px;
}

.first-table {
    padding-right: 35%;
    
}
.second-table {
    padding-right: 30%;

}

.icon-about-oc {
    display: inline-block;
    list-style: none;
}